/* // <weight>: Use a value from 300 to 800 */
/* // <uniquifier>: Use a unique and descriptive class name */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-primary{
   color: rgba(253, 110, 10, 1);
}
/* nav styles */
nav{
    display: flex;
}
.nav-title{
font-weight: 800;
font-size: 45px;
}